<div class="timer">
	<p class="totalTime" ng-model="totalTime">{{totalTime | formatMS}}</p>
	<p class="totalLapTime" ng-model="totalLapTime">{{totalLapTime | formatMS}}</p>
	<div class="btnGroup">
	<!-- start stop -->
		<button class="button" ng-click="startStopTimer()">
			<span ng-show="!timerOn">Start</span>
			<span ng-show="timerOn">Stop</span>
		</button>
		<!-- lap reset -->
		<button class="button" ng-click="newLapOrReset()">
			<span ng-show="timerOn">New Lap</span>
			<span ng-show="!timerOn">Reset</span>
		</button>
	</div>
 
	<ul class="laps">
		<li ng-repeat="lap in laps track by $index">
			<p>Varv {{$index+1}}:  {{lap.time | formatMS}}</p>
		</li>
	</ul>
</div>